/* edit.css */

/* Global resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  position: relative; /* Ensure absolute positioning works */
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #ffa500;
  margin-top: 20px;
  margin-bottom: 30px;
}

section {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h3 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 15px;
  text-align: center; /* Center the <h3> */
}

img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block; /* Ensure the image is a block element */
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto; /* Center the image horizontally */
}

form {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto 30px; /* Add bottom margin to create space between forms */
}

label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #ffa500;
  outline: none;
}

button {
  background-color: #ffa500;
  color: white;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e69500;
}

button:active {
  background-color: #d17a00;
}

/* Back Button */
.back-button {
  display: inline-block;
  background-color: #ccc;
  color: white;
  padding: 12px 20px;
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  position: absolute; /* Position it at the top-left */
  top: 5px;
  left: 20px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #999;
}

.form-actions {
  text-align: right; /* Align buttons to the right */
}

.form-actions button {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  form {
    padding: 20px;
    width: 90%;
  }

  label,
  input[type="text"],
  input[type="number"] {
    font-size: 0.9em;
  }

  button {
    font-size: 1em;
  }
}
